/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-header {
    margin-bottom: 20px;
    text-align: left; /* Add some space between header and form */
}

.login-form {
    width: 300px;
}

.md-text-field {
    margin-bottom: 20px;
}

.md-text-field label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    color: #333;
}

.md-text-field input[type="text"],
.md-text-field input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.md-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #6200ee;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.md-button:hover {
    background-color: #3700b3;
}

.md-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
}
